# Byte-code files
*.pyc
__pycache__/

# Environment
.env
.venv/
env/
venv/

# Sensitive files
encrypt.py
encrypt_meta.py
password_generator.py
cookies.json

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
